@import 'variables';

body {
  display: flex;
  flex-direction: column;
  background: url('../../dist/images/park.jpg') center/cover;
  font-family: sans-serif;
  font-weight: 10;
  height: var(--full-page);
  width: var(--full-page);
  padding: var(--zero-pixels);
  margin: var(--zero-pixels);
}

nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-accent-color);
  /* height: 60px; */
  height: 60px;
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5vh;
    cursor: pointer;
    height: 60px;
    width: 90px;
    padding: var(--zero-pixels);
    margin: var(--zero-pixels);
  }
}

#nav-left {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-right: 30px;
  width: 50vw;
}

#nav-right {
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
  margin-right: 30px;
  width: 50vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--zero-pixels);
  margin: var(--zero-pixels);
  height: var(--full);
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  bottom: 50vh;
}

#hero-section-message {
  font-size: 24pt;
}

.dog-photo {
  border-radius: 50%;
  border: 4px solid var(--main-accent-color);
  height: calc(2 * var(--smaller-dog-photo-size));
  width: calc(2 * var(--smaller-dog-photo-size));
  max-height: var(--dog-photo-max-size);
  max-width: var(--dog-photo-max-size);
}

.link-button {
  margin-top: 10px;
  margin-bottom: 1vh;
  padding: 6px 10px;
  background-color: white;
  border: 3px solid var(--main-accent-color);
  width: 10vw;
  min-width: 90px;
  max-width: 200px;
  text-wrap: nowrap;
  color: var(--main-accent-color);
  font-size: var(--footer-font-size);
  padding: 1vw 0vw;
  min-width: 100px;
}

#dog-info-card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: white;
  border: 2px solid red;
  position: absolute;
  height: 43vh;
  width: var(--full-page);
  padding: 0px 10px;
  text-wrap: wrap;
  /* top: 50vh; */
  bottom: 20vh;
  /* bottom: calc(100vh - var(--footer-height)) */
}

.dog-info-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 40vw;
  width: 20vw;
  margin-top: 0;
  padding: 0 3vw;
  padding-top: 0;
  text-align: center;
  text-wrap: balance;
  font-size: 1vh;
}


.dog-info-card-photo {
  border-radius: 50%;
  border: 4px solid var(--main-accent-color);
  height: var(--smaller-dog-photo-size);
  width: var(--smaller-dog-photo-size);
}

footer {
  position: fixed;
  background-color: var(--main-accent-color);
  top: calc(var(--full-page) - 12vh);
  height: 20vh;
  width: var(--full-page);
}


#footer-link-container {
  background-color: transparent;
  border: none;
  color: white;
  font-size: var(--footer-font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#social-link-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 50vw;
  min-width: 300px;
  max-width: 600px;
  margin: 0px 10px;
}

#github-repo-link {
  text-decoration: underline;
}

.dog-icon {
  width: 4vh;
}