@import 'variables';

:root {
  --zero-pixels: var(--zero-pixels);
}

body {
  background: url('../../dist/images/park.jpg') center/cover;
  height: 100vh;
  width: 100%;
  padding: var(--zero-pixels);
  margin: var(--zero-pixels);
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--secondary-accent-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 60px;
  
  
  
  button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 13pt;
    cursor: pointer;
    height: 60px;
    width: 90px;
    padding: var(--zero-pixels);
    margin: var(--zero-pixels);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#nav-left {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-right: 30px;
  width: 50vh;
}

#nav-right {
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
  margin-right: 30px;
  width: 50vh;
}

main {
  padding: var(--zero-pixels);
  margin: var(--zero-pixels);
  height: 80vh;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: var(--main-accent-color);
  height: 150px;
}

#footer-link-container {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 13pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#social-link-container {
  display: flex;
  flex-wrap: nowrap;
  width: 34vw;
}

#github-repo-link {
  text-decoration: underline;
}

.dog-icon {
  width: 50px;
}